/*
Fonts :  1. sanchez font 2.Source Sans Pro


colors : 1. magnifying glass gray, register page too: #495057
         1.5 black row background: #9DA3A5;
         2. input background: #efefef
         3. row5 bg ul: #f2f2f2;
         4. final button bg: #EB4C88
         5. black asset page circ1 : #181818
         6. gold color #DAA520
         7. light blue asset page : #369AF2
         8. green snale #7ED19E

 */

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.row {
    padding: 9px 0 !important;
}

.font-source-sans-pro {
    font-family: 'Source Sans Pro', sans-serif;
}

.textAlignCenter {
    text-align: center;
}

/* ---------- app.blade.php -----------------------------*/
.btn1{
    background: #7ED19E!important;
    border-color: #7ED19E!important;
}

/* ---------- Welcome.blade.php ------------------------ */
.row1 {
    margin: 0;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    height: 60px;
}

.row1 .go_to_dash {
    float: right;
}

.img1 {
    max-width: 50px;

    display: inline-block;
}

.direxx1 {
    font-family: 'Sanchez', serif;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
}

.input1 {
    height: 40px;
    width: 90%;
    background: #efefef;
    border-color: #efefef;
    border-radius: 2%;
    padding: 0 16%;
}

.row1 .svg-inline--fa {
    font-size: 23px;
    position: absolute;
    top: 10px;
    left: 24px;
    color: #495057;
}

.row1 button {
    width: 125px;
    height: 40px;
    margin-right: 15px;
}

.btn3 {
    border-radius: 8% !important;
    width: 70px !important;
    text-align: center;
    display: none;
}

/*
 * row2
 */
.row2 {
    margin: 15px 0;
}

.row2 .dashboard, .rowu1 .dashboard, .rows1 .dashboard {
    float: right;
    color: #7ED19E;
}

.row2 .fa-tachometer-alt {
    margin: 0 10px;
}

/*
 *   row3
 */
.row3 {
    height: 260px;
}

.img2 {
    float: right;
    max-width: 300px;
}

.row3 h1 {
    font-family: 'Sanchez', serif;
    font-size: 40px;
}

.row3 .list1 {
    margin: 15px 0 0 -38px;
}

.row3 ul {
    list-style: none;
}

.row3 li {
    display: inline;
    margin: 0 5px;
    font-size: 12px;
}

.row3 .fa-circle {
    vertical-align: middle;
    font-size: 10px;
    padding-left: 5px;
}

.row .number {
    font-weight: 600;
    font-size: 15px;
}

/*
 * Snale Animation
*/
/*
    Snale1
*/
.overlay {
    position: absolute;
    top: 2.5%;
    left: 1.03%;
    height: 95%;
    width: 98%;
    background: #000000;
    opacity: 0.85;
    z-index: 10;
    display: none;
}

#snl_svg_normal, #snl_svg_normal_spinner {
    max-width: 50px;
}

#snl_svg_normal_spinner {
    position: absolute;
    top: 263px;
    left: 37%;
    z-index: 100;
    max-width: 85px;
    display: none;
}

#snl_svg_blink {
    max-width: 50px;
    position: absolute;
    top: 103px;
    left: 85px;
    z-index: 100;
    display: none;
}

#snl_svg_got_idea {
    max-width: 100px;
    position: absolute;
    top: 89px;
    left: 61px;
    z-index: 100;
    display: none;

}

#snl_svg_runs {
    max-width: 60px;
    position: absolute;
    top: 101px;
    left: 76px;
    z-index: 100;
    display: none;

}

.snale_ground {
    position: absolute;
    top: 138px;
    left: 20px;
    height: 1.5px;
    width: 37%;
    background: brown;
}

#house_of_snale_svg {
    position: absolute;
    top: -45px;
    left: 180px;
    max-width: 400px;
    z-index: 10;
}

#house_of_snale_svg_open_door {
    position: absolute;
    top: -45px;
    left: 180px;
    max-width: 400px;
    z-index: 20;
    display: none;
}

#snale_enters_his_house {
    max-width: 50px;
    position: absolute;
    top: 100px;
    left: 315px;
    z-index: 30;
    display: none;
}

/*
    row4 headline
 */
.row4 h1 {
    font-size: 25px;
    text-align: center;
}

.row4 h1 span {
    font-family: 'Sanchez';
}

/* row5 billboards */
.row5 .col {

}

.row5 ul {
    list-style: none;
    height: 100% !important;
    padding: 1px 6%;
}

.row5 ul:hover {
    background: #f2f2f2;
}

.row5 li {
    width: 50%;
    float: left;
    height: 80px;
}

.row5 .img {
    width: 100%;
    height: 100%;
    padding: 1px;
}

.row5 .img1 {
    max-width: 100%;
    border-top-left-radius: 7.5%;
    border-top: 1px #f2f2f2 solid;
    border-left: 1px #f2f2f2 solid;
}

.row5 .img2 {
    border-top-right-radius: 7.5%;
    border-top: 1px #f2f2f2 solid;
    border-right: 1px #f2f2f2 solid;
}

.row5 .img3 {
    border-bottom-left-radius: 7.5%;
    border-bottom: 1px #f2f2f2 solid;
    border-left: 1px #f2f2f2 solid;
}

.row5 .img4 {
    border-bottom-right-radius: 7.5%;
    border-bottom: 1px #f2f2f2 solid;
    border-right: 1px #f2f2f2 solid;
}

/* ---------- register.blade.php ------------------------ */
.blackrow {
    height: 175px;
    background: #9DA3A5;
}

.blackrow h1 {
    color: #fff;
    margin: 5px 0 15px 20px;
    font-size: 75px;
    font-weight: 500;
}

.question {
    background: #e6e8e8;
    border: #e6e8e8 !important;
    position: absolute;
    top: 121px;
    right: 7%;
    width: 200px;
    height: 60px;
    border-radius: 4%;
}

.card {
    width: 100%;
    top: -60px;
    left: 20px;
    position: absolute;
    z-index: 10;
}

.card-verify {
    top: 60px !important;
}

.card-header {
    font-family: 'Source Sans Pro', sans-serif;
}

.card-header .d1 {
    margin: 25px 25%;
    font-size: 30px;
    font-weight: 500;
    width: 50%;
    text-align: center;
}

.card-header .d2 {
    padding: 0;
    width: 80%;
    float: left;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 5px 10%;
    text-align: center;
    color: #495057;
}

.card-header .regbtn {
    margin: 10px 10%;
    width: 80%;
    height: 40px;
    border-radius: 3%;
    color: #fff;
    padding: 5px 10%;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
}

.card-header .regbtn1 {
    background: #2D93ED;
}

.card-header .regbtn2 {
    background: #3B5898;
}

.card-header .regbtn3 {
    background: #4285F4;
}

.card-header .fa-twitter, .card-header .fa-google {
    font-size: 13px;
    margin: 0 5px;
}

.card-header .fa-facebook-f {
    font-size: 13px;
    width: 12px;
    margin: 0 5px;
    background: #fff;
    color: #3B5898;
}

.q1 {
    width: 100%;
    color: #333;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 2px 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.q2 {
    width: 100%;
    float: left;
    color: #495057;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}

label {
    font-family: 'Source Sans Pro', sans-serif;
}

.submitbtn {
    background: #EB4C88;
    margin: 0 !important;
    width: 150px;
    height: 40px;
    border-radius: 3%;
    font-family: 'Source Sans Pro', sans-serif;
}

.select1 {
    height: 38px;
    background: #fff !important;
    font-family: 'Source Sans Pro', sans-serif;
    border-color: #cccccc !important;
}

.select2{
    min-width: 70px;
}

.label1{
    min-width: 200px;
}

/* ---------- verify.blade.php --------------------------  */
.fa-shipping-fast {
    color: #7ED19D;
    font-size: 150px;
    margin: 20px 50%;
}

/* ---------- login.blade.php ---------------------------  */
.card-login {
    top: 60px !important;
}

.card-header-login {
    padding: 15px 0;
    height: 80px !important;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: #7ED19D;
}

.fa-key {
    margin: 0 10px;
    color: #7ED19D;
    font-size: 35px !important;
}

.card-login label {
    text-align: left !important;
}

.card-login .btn-primary {
    background: #EB4C88;
    border-color: #EB4C88;
    color: #fff;
}

.card-login .btn-link {
    color: #EB4C88;
}

/* ---------- home.blade.php ---------------------------  */
/*
 * red bg #d6535c
   green bg #5ac592
   purple bg #9b8af7
   yellow bg #e3d858
 */

.rowh1 {
    height: 40px !important;
}

.home ul {
    list-style-type: none;
}

.home li {
    display: inline-block;
    margin: 0 0.3%;
    width: 18.5%;
    text-align: center;
    height: 27px;
}

.home .fa-tachometer-alt {
    color: #00b0e8;
    font-size: 20px;
}

.card-home {
    left: 0 !important;
    top: -7px !important;
}

.card-home .card-header {
    min-height: 650px;
}

.card-home .rowh2 {
    height: 85px;
}

.rowh2 .col {
    margin: 0 6%;
}

.rowh2 .col1 {
    background: #d6535c;
}

.rowh2 .col2 {
    background: #5ac592;
}

.rowh2 .col3 {
    background: #9b8af7;
}

.rowh2 .col4 {
    background: #e3d858;
}

.rowh2 .fa-home, .rowh2 .fa-chart-area, .rowh2 .fa-camera, .rowh2 .fa-money-bill-alt {
    color: #fff;
    font-size: 40px;
    margin: 12px 33px;
}

.rowh3 {
    min-height: 155px;
}

.number_of_assets {
    max-width: 20px;
    margin: 30px 32px;
    display: inline-block;
}

.number_of_assets .address {
    font-size: 12px;
    min-width: 30px;
    text-align: center;
}

.number_of_assets li {
    margin: 17px 0;
}

/* ----------UploadAssets.blade.php----------------*/
.upload {
    min-height: 600px;
    margin: 15px 0;
    background: #f4f4f4;
}

.rowu1 h1 {
    margin: 15px 0;
    text-align: center;
    color: #3f3f3f;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}

.rowu2 {
    margin: 5px 0 10px 0;
}

textarea {
    margin-top: 0;
    margin-left: 0;
    width: 300px;
    height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border: #ced4da 1px solid;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    padding: 5px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    transition: background-color 0.2s ease 0s;
    text-align: left;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.picture_message, .asset_description{
    color: #7ED19E;
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    display: none;
}

.locality_message, .address_message{
    color: #7ED19E;
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    margin: 0 0 0 0;
    display: none;
}

/* ----------Asset.blade.php------------------------- */
.rows1{
    height: 220px;
}
.circ1{
    margin: 10px 20%;
    height: 150px;
    width: 150px;
    background-color: #181818;
    border-radius: 50%;
    display: inline-block;
}
.circText1, .circText2{
    margin: 25% 0 0 27%;
    color: #DAA520;
    font-size: 15px;
    font-family: 'Yeon Sung', cursive;
}
.circText2{
    padding: 0;
    margin: 20px 0 0 27%;
}
h1.address{
    font-size: 15px;
    color: #181818;
    max-width: 50%;
    float: left;
    margin: 0 20px 0 0;
}
.fa-check-circle{
    display: inline-block;
    float: left;
    color: #369AF2;
}
.rows1 .btn11{
    background: #369AF2;
    border-color: #369AF2;
    min-width: 100px;
    max-height: 40px;
}
.rows1 .btn2{
    background: #369AF2;
    border-color: #369AF2;
    margin: 0 0 0 5px;
    min-width: 40px;
}
.rows2{
    margin: 15px 0 0 -16px;
}
.rows3{
    margin: 5px 0 0 -12px;
}
.rows3 h1{
    font-family: 'Yeon Sung', cursive;
    font-weight: 600;
    font-size: 15px;

}
.rows4{
    margin: -18px 0 0 -12px;
}
.rows4 p{
    font-family: 'Yeon Sung', cursive;
    font-size: 15px;
    text-align: left;
}
/* parameters in circles */
.rows10{
    margin: 10px 0 0 2%;
    height: 145px;
}
.table1{
    width: 77%;
    height: 100%;
    padding: 28px 0 0 35%;
}
.table1 span{
    font-size: 14px;
    font-weight: 600;
    color: #369AF2;
}
.table2 span{
    font-size: 11px;
    font-weight: 600;
    color: #369AF2;
}
.col11,.col12{
    height: 100px;
    border-bottom: 0 solid #369AF2;
}
.col12{
    border-left: 0 solid #369AF2;
}
.price1{
    font-size: 45px;
    padding: 0 0 5px;
    color:#369AF2;
}
.price1 span{
    font-size: 19px;
}
.other_param{
    font-size: 30px;
    padding: 0 23% 5px;
    color:#369AF2;
}
.other_param span{
    font-size: 10px;
}
/* Combined big table second row */
.rows105{
    height: 145px;
}
.table2{
    width: 100%;
    height: 100%;
    margin: 0 0 0 6%;
}
/* pictures */
.rows11{
    margin: 30px 0 0 0;
}

.fa-times{
    color: red;
}
.fa-check{
    color: #7ED19E;
}






