<template>
    <v-app>
        <v-content>
            <v-container fluid>
                <div class="row rowh2">
                    <div class="col col1">
                        <router-link to="upload_asset"><i class="fas fa-home"></i></router-link>
                    </div>

                    <div class="col col2">
                        <router-link to="user_dashboard"><i class="fas fa-chart-area"></i></router-link>
                    </div>

                    <div class="col col3">
                        <router-link to="image_item"><i class="fas fa-camera"></i></router-link>
                    </div>

                    <div v-model="showAssets" @click = "showAssets = !showAssets" class="col col4">
                        <router-link to="home"><i class="far fa-money-bill-alt"></i></router-link>
                    </div>

                    <!-- display content of component -->
                <router-view/>
                    <ul v-if="showAssets">
                        <li v-for="asset in assets">
                            <font-awesome-icon icon="user-secret" />
                            {{ asset.address }}
                        </li>
                    </ul>
                </div>
            </v-container>
        </v-content>
        <v-footer app></v-footer>
    </v-app>
</template>

<script>
import axios from 'axios';


    export default {
        name: 'App',
        props: ['userid'],
        data() {
            return {
                assets: [],
                u_id: '',
                url: '',
                showAssets: true
            }
        },
        created() {
            this.u_id = this.userid;
            this.url = './' + this.u_id + '/list_assets';
            axios.get(this.url)
                .then(response => this.assets = response.data);
        }
    }
</script>