<template>
    <!-- <country-state-province-switch></country-state-province-switch> -->
    <upload-asset-form-full></upload-asset-form-full>
</template>

<script>
    import UploadAssetForm from "../components/uploadAssetForm";
    export default {
        components: {UploadAssetForm}
    }
</script>

<style scoped>

</style>