<template>
    <div>
        <div v-if="showAlertPrimary" class="form-group">
            <label for="country_code">Select Country:</label>
            <select v-model="selectedCountry" v-on:change="setStatesToDisplay()" class="form-control" id="country_code" name="country_code"
                    style="max-width: 120px;">
                <option value="none" selected disabled hidden> Select an Option </option>
                <option v-for="country in cts" v-bind:value="country.code"> {{ country.name }}</option>

            </select>
        </div>
        <div v-show="showStates" class="form-group">
            <label>Select State:</label>
            <select v-if="showStatesUSA" class="form-control">
                <option v-for="state in statesOfAmerica"> {{ state.name }} </option>
            </select>
            <select v-else-if="showStatesAustralia" class="form-control">
                <option v-for="state in statesOfAustralia"> {{ state }} </option>
            </select>
            <select v-else-if="showStatesCanada" class="form-control">
                <option v-for="state in statesOfCanada"> {{ state }} </option>
            </select>
        </div>
        <div v-show="showProvinces" class="form-group">
            <label>Select Province:</label>
            <select v-model="selectedCountry" class="form-control">
                <option v-for="province in Provinces"> {{ province.name }}</option>
                <option value="99"></option>

            </select>
        </div>
    </div>
    <!-- END OF countryStateSelect div -->
</template>

<script>

    export default {
        name: "countryStateSelect",
        mounted() {

        },
        computed: {
            relevantProvinces: function() {
                return _.pickBy(this.Provinces, function(p) {
                    return p.country === 'Israel';
                });
            }
        },
        data() {
            return {
                cts: [],
                showAlertPrimary: true,
                selectedCountry: '',
                showProvinces: false,
                showStates: false,
                showStatesUSA: false,
                showStatesAustralia: false,
                showStatesCanada: false,
                countries: [
                    {name: 'USA', code: 1},
                    {name: 'Canada', code:2},
                    {name: 'Israel', code: 3},
                    {name: 'Australia', code: 4},
                    {name: 'France', code: 5},
                    {name: 'Spain', code: 6},
                    {name: 'Mexico', code: 7}
                ],
                statesOfAmerica: [
                    'New York', 'New Jersey', 'Maryland', 'New Hampshire', 'West Virginia',
                    'North Dakota', 'South Dakota', 'Ohio', 'Michigan', 'Indiana',
                    'California', 'Oregon', 'Washington', 'Nevada', 'Arizona', 'Utah',
                    'Maine', 'Minnesota', 'Montana', 'Wisconsin', 'Pennsylvania',
                    'Missouri', 'Iowa', 'Florida', 'Texas', 'New Mexico',
                    'Louisiana', 'Mississippi', 'Alabama', 'Georgia', 'Arkansas',
                    'Oklahoma', 'Kansas', 'Colorado', 'Kentucky', 'Tennessee'],
                statesOfAustralia: ['New South Wales', 'Victoria', 'Queensland',
                    'South Australia', 'Western Australia', 'Northern Territory'],
                statesOfCanada: ['Quebec', 'Ontario', 'Alberta', 'British Columbia',
                    'Manitoba', 'Yukon', 'Nova Scotia', 'Saskatchewan', 'New Brunswick'],
                IsraelProvinces: ['Gush Dan', 'Sharon', 'Negev', 'Upper Galilee', 'Bottom Galilee',
                    'South', 'Shomron'],
                Provinces: [
                    {name: 'Gush Dan', country: 'Israel'},
                    {name: 'Sharon', country: 'Israel'},
                    {name: 'Negev', country: 'Israel'},
                    {name: 'Upper Galilee', country: 'Israel'},
                    {name: 'Bottom Galilee', country: 'Israel'},
                    {name: 'South', country: 'Israel'},
                    {name: 'Shomron', country: 'Israel'},
                    {name: 'Barcelona', country: 'Spain'},
                    {name: 'Valenica', coutnry: 'Spain'},
                    {name: 'Gadiz', country: 'Spain'},
                    {name: 'Baja California', country: 'Mexico'}
                ]
            }
        },
        created() {
            axios.get('/countries.json')
                .then(response => {
                    this.cts = response.data["countries"]
                })
                .catch(e => {
                    console.log(e);
                });
        },
        methods: {
            setProvincesToDisplay() {
                this.showProvinces = true;
                this.showStates = false;
            },
            setStatesToDisplay() {
                this.showProvinces = false;
                this.showStates = true;
                console.log(this.selectedCountry);
                if (this.selectedCountry === 1) {
                    this.displayUSAStates();
                } else if (this.selectedCountry === 2) {
                    this.displayCanStates();
                } else if (this.selectedCountry === 4) {
                    this.displayAusStates();
                } else {
                    this.setProvincesToDisplay();
                }
            },
            displayUSAStates() {
                axios.get('/countries.json')
                    .then(response => {
                       this.statesOfAmerica = response.data["USAstates"]
                    })
                    .catch(e => {
                       console.log(e);
                    });
                this.showStates = true;
                this.showStatesUSA = true;
                this.showStatesAustralia = false;
                this.showStatesCanada = false;
            },
            displayCanStates() {
                this.showStates = true;
                this.showStatesUSA = false;
                this.showStatesAustralia = false;
                this.showStatesCanada = true;
            },
            displayAusStates() {
                this.showStates = true;
                this.showStatesUSA = false;
                this.showStatesAustralia = true;
                this.showStatesCanada = false;
            }
        }

    }
</script>

<style scoped>

</style>