<template>
    <div id="app">
        <input type="date">
    </div>
</template>

<script>
    import DatePicker from 'vue2-datepicker'

    export default {
        name: "DatePicker",
        components: {
            DatePicker
        }, data() {
            return {
                date: ''
            }
        }
    }
</script>

<style scoped>

</style>