<template>
    <div>
        <button class="btn btn-primary ml-4" v-text="buttonText">Example Component</button>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
