<template>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card card-home">
                <div class="card-header">
                    <div class="row rowh2">
                        <div class="col col1">
                            <i class="fas fa-home"></i>
                        </div>
                        <div class="col col2">
                            <i class="fas fa-chart-area"></i>
                        </div>
                        <div class="col col3">
                            <i class="fas fa-camera"></i>
                        </div>
                        <div class="col col4">
                            <i class="far fa-money-bill-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Home",
        mounted() {
                console.log('Home component mounted');
            }
    }
</script>

<style scoped>

</style>