<template>
    <div class="container">

        <!-- <figure class="image__wrapper">
            <img src="/public/favicon.ico">
        </figure> -->
    </div>
</template>

<script>

    export default {
        name: "ImageItem"
    }
</script>

<style scoped>

</style>