<template>
    <div v-if="elementVisible" class="alert alert-success mt-3">
        {{ this.msg }}
    </div>
</template>

<script>
    export default {
        name: "Notif",
        props: ['timeout', 'msg'],
        mounted() {
            console.log('Notifications component mounted');
            console.log(this.msg);
        },
        data() {
            return {
                elementVisible: true
            }
        },
        created() {
            setTimeout(() => this.elementVisible = false, this.timeout)
        }
    }
</script>

<style scoped>

</style>