<template>
    <div class="container">
        <div class="row" style="height:30%">
            <div class="col-md-6 offset-1">
                <!--<h3>
                    User Dashboard
                </h3> -->
                <TrendChart :datasets="[
                                    {
                                    data: [1, 5, 2, 10, 4, 6, 8],
                                    smooth: true,
                                    fill: true
                                    }
                                    ]" :grid="{
                                    verticalLines: true,
                                    horizontalLines: true
                                    }"
                                    :labels="{
                                     xLabels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                                     yLabels: 5
                                    }"
                >
                </TrendChart>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "StatisticsComponent"
    }
</script>

<style scoped>

</style>