<template>
    <form @submit.prevent="submit">
        <div class="row" id="upper_row">
        <div class="col-3" id="left_side_form">
            <div class="form-group">
                <label for="country_code">Select Country:</label>
                <select v-model="fields.country" v-on:change="setStatesToDisplay()" class="form-control"
                        id="country_code"
                        name="country_code"
                        style="max-width: 120px;">
                    <option value="none" selected disabled hidden> Select an Option </option>
                    <option v-for="country in countries" v-bind:value="country.code"> {{ country.name }}</option>
                </select>
                <div v-if="errors && errors.country" class="text-danger">{{ errors.country[0] }}</div>
            </div>
            <div v-show="showStates" class="form-group">
                <label>Select State:</label>
                <select v-model="fields.state_code" v-if="showStatesUSA" class="form-control" style="max-width: 200px">
                    <option v-for="state in statesOfAmerica" v-bind:value="state.code"> {{ state.name }} </option>
                </select>
                <select v-model="fields.state_code" v-else-if="showStatesAustralia" class="form-control" style="max-width: 200px">
                    <option v-for="state in statesOfAustralia" v-bind:value="state.code"> {{ state.name }} </option>
                </select>
                <select v-model="fields.state_code" v-else-if="showStatesCanada" class="form-control" style="max-width: 200px">
                    <option v-for="state in statesOfCanada" v-bind:value="state.code"> {{ state.name }} </option>
                </select>
            </div>
            <div v-show="showProvinces" class="form-group">
                <label>Select Province:</label>
                <select v-model="fields.area_code" v-if="showProvincesIsrael" class="form-control" style="max-width: 200px">
                    <option v-for="province in IsraelProvinces" v-bind:value="province.code"> {{ province.name }}</option>
                    <!-- <option value="99"></option> -->
                </select>
                <select v-model="fields.area_code" v-if="showRegionsEngland" class="form-control" style="max-width: 200px">
                    <option v-for="region in EnglandRegions" v-bind:value="region.code"> {{ region.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>City:</label>
                <input type="text" class="form-control" id="locality"
                       name="locality" style="max-width: 200px" v-model="fields.locality">
                <span class="locality_message"><i>required, at least 2 characters</i></span>
                <div v-if="errors && errors.locality" class="text-danger">{{ errors.locality[0] }}</div>
            </div>
            <button type="submit" @click="submit()" class="btn btn-primary">Submit</button>
            <div v-if="success">
                <Notif timeout=3000 msg="Asset uploaded successfully!"></Notif>
            </div>
        </div>
        <div class="col-5">
            <!-- Address -->
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text"
                       v-model="fields.address"
                       ref="autocomplete"
                       class="form-control"
                       onfocus="value = ''"
                       id="address"
                       name="address">
                <span class="address_message"><i>required, at least 5 characters</i></span>
                <div v-if="errors && errors.address" class="text-danger">{{ errors.address[0] }}</div>
            </div>
            <div class="form-group">
                <label for="num_rooms">Number Of Rooms:</label>
                <input class="form-control"
                       v-model="fields.num_rooms"
                       type="number"
                       id="num_rooms"
                       name="num_rooms"
                       step="0.5"
                       min="1"
                       max="7"
                       value="3.5"
                       style="max-width: 80px;text-align: center">
                <div v-if="errors && errors.num_rooms" class="text-danger">{{ errors.num_rooms[0] }}</div>
            </div>
            <div class="row" style="margin-top: -10px">
                <div class="col-6">
                    <div class="form-group">
                        <!-- Asset area -->
                        <label for="asset_area">Asset area:</label>
                        <input class="form-control"
                               type="number"
                               v-model="fields.asset_area"
                               id="asset_area"
                               name="asset_area"
                               step="0.5"
                               min="30"
                               max="1000"
                               value="30"
                               style="max-width: 80px;text-align: center"
                        >
                        <!-- -->
                    </div>
                </div>
                <div class="col-6" style="margin-left:-100px;">
                    <label for="unit_of_measure" class="label1">Unit of measure:</label>
                    <select class="select1 select2" name="unit_of_measure" id="unit_of_measure"
                    v-model="fields.unit_of_measure">
                        <option value="1">square feet</option>
                        <option value="2">square meter</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: -18px">
                <div class="col-12"><label for="asset_description">Description:</label></div>
                <div class="col-12">
                    <!-- Free asset description -->
                    <textarea placeholder=""
                              rows="15"
                              name="asset_description"
                              id="asset_description"
                              cols="40"
                              class="ui-autocomplete-input"
                              v-model="fields.asset_description"
                              autocomplete="off"
                              role="textbox"
                              aria-autocomplete="list"
                              aria-haspopup="true"></textarea>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="floor_number">Floor number:</label>
                <input type="number"
                       id="floor_number"
                       name="floor_number"
                       step="1"
                       min="0"
                       max="100"
                       value="0"
                       class="form-control"
                       v-model="fields.floor_number"
                       style="max-width: 95px;text-align: center"
                >
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number"
                               id="price"
                               name="price"
                               step="50"
                               min="100"
                               max="9000"
                               value="100"
                               class="form-control"
                               v-model="fields.price"
                               style="max-width: 80px;text-align: center">
                        <div v-if="errors && errors.price" class="text-danger">{{ errors.price[0] }}</div>
                    </div>
                </div>
                <div class="col-6" style="margin-left: -50px;">
                    <label for="price_currency" class="label1">
                        Currency:
                    </label>
                    <select class="select1 select2" name="price_currency" id="price_currency"
                    v-model="fields.price_currency">
                        <option value="1">
                            &#36;
                        </option>
                        <option value="2">
                            &#8362;
                        </option>
                        <option value="3">
                            &#8364;
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="property_tax">Property tax:</label>
                        <input type="number"
                               id="property_tax"
                               name="property_tax"
                               step="10"
                               min="100"
                               max="5000"
                               value="100"
                               class="form-control"
                               v-model="fields.property_tax"
                               style="max-width: 80px;text-align: center">
                    </div>
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="isResidential"
                       name="isResidential" v-model="fields.isResidential">
                <label class="form-check-label" for="isResidential">
                    Residential
                </label>
            </div>
            <!-- -->
            <!-- isOccupied -->
            <div class="form-check">
                <input class="form-check-input" @click="toggleEntrance()"
                       type="checkbox"
                       id="entrance_date_check"
                       name="entrance_date">
                <label class="form-check-label" for="entrance_date">
                    Immediate Entrance
                </label>
            </div>
            <!-- -->
            <!-- hasPorch -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="hasPorch"
                       name="hasPorch" v-model="fields.hasPorch">
                <label class="form-check-label" for="hasPorch">
                    Porch
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="hasParking"
                       name="hasParking" v-model="fields.hasParking">
                <label class="form-check-label" for="hasParking">
                    Private Parking
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" v-model="fields.isFurnished" @click="isFurnished = !isFurnished"
                       type="checkbox" value="1" id="isFurnished"
                       name="isFurnished">
                <label class="form-check-label" for="isFurnished">
                    Furnished
                </label>
            </div>
            <div v-if="!immediateEntrance" class="form-check">
                Date of entrance
                <input type="date" v-model="fields.entrance_date">
            </div>
            <div v-if="isFurnished">
                <p style="align-content: center">Please provide description about the included furniture</p>
            </div>
        </div>

        </div>

    </form>
</template>

<script>
    export default {
        name: "UploadAssetFormFull",
        props: ['userid'],
        mounted() {
            console.log('Component mounted');
            console.log(this.userid);
        },
        data() {
            return {
                fields: {},
                errors: {},
                countries: [],
                asset_owner_profile_id: '',
                selectedCountry: '',
                value: '',
                showProvinces: false,
                showStates: false,
                showStatesUSA: false,
                showStatesAustralia: false,
                showStatesCanada: false,
                showProvincesIsrael: false,
                showRegionsEngland : false,
                immediateEntrance: false,
                isFurnished: false,
                success: false,
                loaded: true,
                statesOfAmerica: [],
                statesOfAustralia: [],
                statesOfCanada: [],
                IsraelProvinces: [],
                EnglandRegions: [],
                Provinces: [
                    {name: 'Gush Dan', country: 'Israel'},
                    {name: 'Sharon', country: 'Israel'},
                    {name: 'Negev', country: 'Israel'},
                    {name: 'Upper Galilee', country: 'Israel'},
                    {name: 'Bottom Galilee', country: 'Israel'},
                    {name: 'South', country: 'Israel'},
                    {name: 'Shomron', country: 'Israel'},
                    {name: 'Barcelona', country: 'Spain'},
                    {name: 'Valenica', coutnry: 'Spain'},
                    {name: 'Gadiz', country: 'Spain'},
                    {name: 'Baja California', country: 'Mexico'}
                ]
            }
        },
        created() {
            axios.get('/countries.json')
                .then(response => {
                    this.countries = response.data["countries"]
                })
                .catch(e => {
                    console.log(e);
                });
        },
        methods: {
            submit() {
                if (this.loaded == true) {
                    this.loaded = false;
                    this.errors = {};
                    this.fields.asset_owner_profile_id = this.userid;
                    axios.post('/submit', this.fields).then(response => {
                        console.log('Form submitted');
                        console.log(this.success);
                        this.loaded = true;
                        this.success = true;
                        this.showStates = false;
                        this.fields = {};
                    }).catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors || {};
                        }
                        console.log(JSON.stringify(this.errors));
                    });
                }
            },
            method() {
                this.value = this.$refs.datepicker.pickedValue;
              console.log('picked');
            },
            setProvincesToDisplay() {
                this.showProvinces = true;
                this.showStates = false;
            },
            setStatesToDisplay() {
                this.showProvinces = false;
                this.showStates = true;
                console.log(this.fields.country);
                if (this.fields.country === 1) {
                    this.displayUSAStates();
                } else if (this.fields.country === 2) {
                    this.displayCanStates();
                } else if (this.fields.country === 3) {
                    this.displayIsraelProvinces();
                } else if (this.fields.country === 4) {
                    this.displayAusStates();
                } else {
                    this.displayEnglandRegions();
                }
            },
            displayUSAStates() {
                axios.get('/countries.json')
                    .then(response => {
                        this.statesOfAmerica = response.data["USAstates"]
                    })
                    .catch(e => {
                        console.log(e);
                    });
                this.showStates = true;
                this.showStatesUSA = true;
                this.showStatesAustralia = false;
                this.showStatesCanada = false;
            },
            displayCanStates() {
                axios.get('/countries.json')
                    .then(response => {
                        this.statesOfCanada = response.data["CanadaStates"]
                    })
                    .catch(e => {
                        console.log(e);
                    });
                this.showStates = true;
                this.showStatesUSA = false;
                this.showStatesAustralia = false;
                this.showStatesCanada = true;
                this.showRegionsEngland = false;
            },
            displayAusStates() {
                axios.get('/countries.json')
                    .then(response => {
                        this.statesOfAustralia = response.data["AustraliaStates"]
                    })
                    .catch(e => {
                        console.log(e);
                    });
                this.showStates = true;
                this.showStatesUSA = false;
                this.showStatesAustralia = true;
                this.showStatesCanada = false;
                this.showRegionsEngland = false;
            },
            displayIsraelProvinces() {
                axios.get('/countries.json')
                    .then(response => {
                        this.IsraelProvinces = response.data["IsraelProvinces"]
                    })
                    .catch(e => {
                        console.log(e);
                    });
                this.showStates = false;
                this.showProvinces = true;
                this.showProvincesIsrael = true;
                this.showRegionsEngland = false;
            },
            displayEnglandRegions() {
                axios.get('/countries.json')
                    .then(response => {
                        this.EnglandRegions = response.data["EnglandRegions"]
                    })
                    .catch(e => {
                        console.log(e);
                    });
                this.showStates = false;
                this.showProvinces = true;
                this.showProvincesIsrael = false;
                this.showRegionsEngland = true;
            },
            toggleEntrance() {
                this.immediateEntrance = !this.immediateEntrance;
            }
        }
    }
</script>

<style scoped>

</style>