<template>
    <div id="form_container">
        <form @submit="submit">
        <div id="left_side_form">
            <div v-if="showAlertPrimary" class="form-group">
            <label for="country_code">Select Country:</label>
            <select v-model="selectedCountry" v-on:change="setStatesToDisplay()" class="form-control" id="country_code" name="country_code"
                    style="max-width: 120px;">
                <option value="none" selected disabled hidden> Select an Option </option>
                <option v-for="country in cts" v-bind:value="country.code"> {{ country.name }}</option>
            </select>
        </div>
        <div v-show="showStates" class="form-group">
            <label>Select State:</label>
            <select v-if="showStatesUSA" class="form-control">
                <option v-for="state in statesOfAmerica"> {{ state.name }} </option>
            </select>
            <select v-else-if="showStatesAustralia" class="form-control">
                <option v-for="state in statesOfAustralia"> {{ state.name }} </option>
            </select>
            <select v-else-if="showStatesCanada" class="form-control">
                <option v-for="state in statesOfCanada"> {{ state.name }} </option>
            </select>
        </div>
        <div v-show="showProvinces" class="form-group">
            <label>Select Province:</label>
            <select v-if="showProvincesIsrael" class="form-control">
                <option v-for="province in IsraelProvinces"> {{ province.name }}</option>
                <!-- <option value="99"></option> -->
            </select>
        </div>
        <div class="form-group">
            <label>City:</label>
            <input type="v-text" class="form-control" id="locality"
                   name="locality" style="max-width: 200px" v-model="fields.city">
            <span class="locality_message">
                required, at least 2 characters
            </span>
        </div>
        <button type="submit" class="btn btn-primary">Submit Vue</button>
        </div>
        </form>
    </div>
</template>
    <script>
    export default {
        name: "uploadAssetForm",
        mounted() {

        },
        computed: {
            relevantProvinces: function () {
                return _.pickBy(this.Provinces, function (p) {
                    return p.country === 'Israel';
                });
            }
        },
        data() {
            return {
                fields: {},
                errors: {},
                cts: [],
                showAlertPrimary: true,
                selectedCountry: '',
                showProvinces: false,
                showStates: false,
                showStatesUSA: false,
                showStatesAustralia: false,
                showStatesCanada: false,
                showProvincesIsrael: false,
                countries: [],
                statesOfAmerica: [],
                statesOfAustralia: [],
                statesOfCanada: [],
                IsraelProvinces: [],
                Provinces: [
                    {name: 'Gush Dan', country: 'Israel'},
                    {name: 'Sharon', country: 'Israel'},
                    {name: 'Negev', country: 'Israel'},
                    {name: 'Upper Galilee', country: 'Israel'},
                    {name: 'Bottom Galilee', country: 'Israel'},
                    {name: 'South', country: 'Israel'},
                    {name: 'Shomron', country: 'Israel'},
                    {name: 'Barcelona', country: 'Spain'},
                    {name: 'Valenica', coutnry: 'Spain'},
                    {name: 'Gadiz', country: 'Spain'},
                    {name: 'Baja California', country: 'Mexico'}
                ]
            }
        },
        created() {
            axios.get('/countries.json')
                .then(response => {
                    this.cts = response.data["countries"]
                })
                .catch(e => {
                    console.log(e);
                });
        },
        methods: {
            submit() {
                console.log("Inside submit()");
                this.errors = {};
                axios.post('submit', this.fields).then(response => {
                    alert('Message sent!');
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors || {};
                    }
                    console.log(JSON.stringify(this.errors));
                    console.log(JSON.stringify(this.fields));
                });
            },
            setProvincesToDisplay() {
                this.showProvinces = true;
                this.showStates = false;
            },
            setStatesToDisplay() {
                this.showProvinces = false;
                this.showStates = true;
                console.log(this.selectedCountry);
                if (this.selectedCountry === 1) {
                    this.displayUSAStates();
                } else if (this.selectedCountry === 2) {
                    this.displayCanStates();
                } else if (this.selectedCountry === 3) {
                    this.displayIsraelProvinces();
                } else if (this.selectedCountry === 4) {
                    this.displayAusStates();
                } else {
                    this.setProvincesToDisplay();
                }
            },
            displayUSAStates() {
                axios.get('/countries.json')
                    .then(response => {
                        this.statesOfAmerica = response.data["USAstates"]
                    })
                    .catch(e => {
                        console.log(e);
                    });
                this.showStates = true;
                this.showStatesUSA = true;
                this.showStatesAustralia = false;
                this.showStatesCanada = false;
            },
            displayCanStates() {
                axios.get('/countries.json')
                    .then(response => {
                        this.statesOfCanada = response.data["CanadaStates"]
                    })
                    .catch(e => {
                        console.log(e);
                    });
                this.showStates = true;
                this.showStatesUSA = false;
                this.showStatesAustralia = false;
                this.showStatesCanada = true;
            },
            displayAusStates() {
                axios.get('/countries.json')
                    .then(response => {
                        this.statesOfAustralia = response.data["AustraliaStates"]
                    })
                    .catch(e => {
                        console.log(e);
                    });
                this.showStates = true;
                this.showStatesUSA = false;
                this.showStatesAustralia = true;
                this.showStatesCanada = false;
            },
            displayIsraelProvinces() {
                axios.get('/countries.json')
                    .then(response => {
                        this.IsraelProvinces = response.data["IsraelProvinces"]
                    })
                    .catch(e => {
                        console.log(e);
                    });
                this.showStates = false;
                this.showProvinces = true;
                this.showProvincesIsrael = true;
            }
        }
    }
    </script>

    <style scoped>

    </style>